{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Login</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-success' type="submit" value="Submit" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

</div>
<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Forgot password? <a href="{% url 'auth_password_reset' %}">Reset it</a>!</p>
<p>Not a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
</div>
</div>

{% endblock %}
