body {
  /*min-height: 2000px;*/
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle:hover {
  border: none;
}

.navbar-icon {
  font-size: 40px;
  padding: 10px;
}
