{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}
 | Welcome
{% endblock head_title %}


{% block content %}

  <div class="container image-container">
    <div class="grid js-masonry" data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>

      {% for image in images %}
        <div class="grid-sizer col-lg-3 col-md-4 col-sm-6 col-xs-6"></div>
        <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-6">
          <div class="grid-content">
              <a href="{{ image.get_absolute_url }}" class="thumbnail">
                <img src="{{ image.image }}" alt="Img not found">
              </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
