{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
  Welcome | {{ block.super }}
{% endblock head_title %}


  {% block content %}
  {% if request.user.is_authenticated %}
  <h1>You are logged in</h1>

  {% if queryset %}
  <h2>Welcome big boss, here are the sign ups:</h2>
  <table class="table">
    <tr><td></td><td><h3>@</h3></td><td><h3>Name</h3></td><td><h3>When?</h3></td></tr>
  {% for i in queryset %}
    <tr><td>{{ forloop.counter }}</td><td>{{ i }}</td><td>{{ i.full_name }}</td><td>{{ i.timestamp|timesince }}</td></tr>
  {% endfor %}
  </table>
  {% else %}
  </br></br></br>
  <i class="spinning-camera fa fa-camera-retro fa-spin"></i>
  {% endif %}

  {% else %}

  {% block jumbotron %}
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Hello!</h1>
    <p>This site has no function.</p>
    <p>Herp derpsum tee der ler derp. Der merpus ler sherp berp. Merpus herpem perper mer derperker der dee, herpsum sherpus! Der ter dee berp. Merp berp herp derperker, herpderpsmer tee! Sherp serp sherper merp derps derpler terpus derpy? Le serp derp ter, me perp derpus terp merp. Serp terp le dee? Herpsum derpus mer derpler serp herderder merp sherper. Herpderpsmer derps sherlamer berp der. Derpsum terpus ner sherper. Le derpler dee ter herpsum. Ter perper ler herderder derps derp, sherpus berps. Derperker herpler derps, derp me tee terp ler perp terpus. Perp herpem merpus dee. Sherp nerpy serp perp herp derp herpem. Perp sherper tee dee. Perper sherper herpy tee derperker pee herpem nerpy terp sherlamer? Terp ler ner derpsum tee dee. Herpem ler derp sherper.
    </p>
    <p>
    <a class="btn btn-lg btn-success" href="" role="button">Derp! &raquo;</a>
    </p>
  </div>
  {% endblock jumbotron %}

  <div class="row">
    <div class="col-md-3 pull-right">
      <p class="lead text-align-center">{{ title }}</p>
      {% if form %}
        <form method="POST" action="">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-success" type="submit" value="Sign Up">
        </form>
      {% endif %}
    </div>
  </div>

  {% endif %}
  {% endblock content %}
